/*--------------------------------------------------------------
# Layouting
--------------------------------------------------------------*/
// Secciones
@import "layout/_sector";
@import "layout/_noticia";
@import "layout/_listado";

// Responsive
@import "layout/responsive/_mobile";

html {
	font-family: 'Source Sans Pro';
}

body {
	margin: 0;
}

.wrapper {
	padding: 5rem;
}

.full {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 15% 1fr 10%;
	height: 100vh;

@media screen and (min-width: 1025px) {

	&.home {
		grid-template-rows: 15% 85%;
	}

	// Layout | Header
	.hpn-header {
		// align-items: center;
		border-bottom: solid 1px gray;
		grid-column: 1 / -1;
		grid-row: 1;
		background-color: white;
		display: grid;
		grid-template-rows: 25% 75%;
		height: 100%;

		.hpn-topbar {
			background-color: $hpn-azul;
			color: white;
			padding: 0 1.25rem;
			display: flex;
			grid-column: 1;
			grid-row: 1 ;
			justify-content: space-between;
			flex-direction: row;

			.hpn-topbar-subcontainer {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				grid-template-columns: repeat(12, 1fr);
				padding: 0 1.5em 0 1.5em;
			
				// Contenido topbar
				.hpn-element-txt {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;

					&.sm {
						width: 25%;
					}
				}
			}
		}

		// Logo HPN
		.hpn-logo-desktop {
			width: 23vw;
		}

		.hpn-logo-mobile {
			display: none;
		}


		.hpn-navbar {
			grid-row: 2;
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: repeat(12, 1fr); 
			grid-template-rows: 1;

			.hpn-container-logo {
				grid-column: 1 / 4;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.5rem;

				.logo {
					align-self: center;
				}
			}
	
			nav.hpn-container-menu {
				background-color: white;
				grid-column: 4 / 12;
				height: 100%;
				padding: 0 2rem 0 2rem;

				& ul {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					list-style: none;
					
					li.nav-item {
						align-self: center;
						color: $hpn-azul;
						font-size: 1rem;
						text-transform: uppercase;

						&:hover {
							color: $hpn-magenta;
						&:visited {
							color: $hpn-azul-oscuro;
							}
						}
					}
				}
			}
	
			.hpn-container-search {
				background-color: $hpn-magenta;
				grid-column: 12 / -1;
			}
		}
	}

	// Layout | Home
	.hpn-home-primer-scroll {
		grid-row: 2;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 80% 20%;
		height: 100%;
		width: 100%;

		// Banner
		.hpn-banner {
			grid-column: 1 / -1;
			grid-row: 1;
			display: grid;
			grid-template-rows: 1;
			grid-template-columns: repeat(12, 1fr); 
			grid-gap: 2px;
			
			// Subdivision Banner (definir alturas fijas)
			.hpn-banner-01 {
				background-color: blue;
				grid-column: 1 / 9;
				grid-row: 1 / 3;
				position: relative;
				background: $gradient;
				max-height: 68vh;
			}
			
			.hpn-banner-02 {
				background-color: cyan;
				grid-column: 9 / -1;
				grid-row: 1;
				background: $gradient;
				max-height: 36vh;
			}
			
			.hpn-banner-03 {
				background-color: lightblue;
				grid-column: 9 / -1;
				grid-row: 2;
				background: $gradient;
				max-height: 36vh;
			}
		}

		.hpn-bottombar {
			border-bottom: solid 1px gray;
			grid-column: 1 / -1;
			grid-row: 2;
			display: grid;
			grid-template-columns: repeat(12, 1fr); 
			grid-template-rows: 1;
			
			[class^="card-"] {
				display: flex;
				flex-direction: row;
				padding: 0 2rem 0 2rem;
			}
	
			.card-01 {
				grid-column: 1 / 4;
				grid-row: 1;
				background-color: $hpn-azul-oscuro;
			}
		
			.card-02 {
				grid-column: 4 / 7;
				grid-row: 1;
			}
		
			.card-03 {
				grid-column: 7 / 10;
				grid-row: 1;
			}
		
			.card-04 {
				grid-column: 10 / -1;
				grid-row: 1;
			}
		}
}

#segundo-scroll {
	// HOME | Segundo scroll
	&.hpn-home-segundo-scroll {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 750px;
		grid-gap: 0;
		// height: 100%;

		#sidebar, #faq, #contacto {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			min-height: 20rem;
			padding: 3rem;

			.hpn-bloque-titulo {
				display: flex;
				min-height: fit-content;
				flex-direction: column;
				justify-content: space-between;
			}
		}

		.hpn-home-sidebar {
			background-color: $hpn-cyan;
			grid-column: 1 / 4;
			grid-row: 1 / -1;
		}
	
		.hpn-home-faq {
			background-color: white;
			grid-column: 4 / 9;
			grid-row: 1 / -1;
		}
	
		.hpn-home-contacto {
			background-color: $hpn-azul-oscuro;
			grid-column: 9 / -1;
			grid-row: 1 / -1;
		}
	}
}

}


	// Layout | Cards
	ul.hpn-container-listado {
		overflow-y: scroll;
		display: grid;
		grid-gap: 0.25rem;
		padding: 0;
		list-style: none;
		margin: 0;

		&.horizontal {
			grid-column: 1 / 9;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(10, 1fr);

			.hpn-list-item {
				background-color: $hpn-violeta;
				height: 20rem;		
			}
		}

		&.vertical {
			grid-column: 9 / -1;
			grid-row: 3;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(10, 1fr);

			.hpn-list-item {
				background-color: $hpn-violeta;
				height: auto;
			}
		}
	}



	// Layout |	Mapa 

	// Layout | Upload

	// Layout | Formulario

	// Layout | Footer


footer.hpn-footer {
	grid-column: 1 / -1;
	// grid-row: 3;
	display: grid;
	grid-template-columns: repeat(12, 1fr); 
	grid-template-rows: 1;
	background-color: black;
	height: auto;
	padding: 1rem;
	}
}


