/* -------------------------------------
# Elementos
-------------------------------------*/
// Botones
.container-input-btn {
	display: flex;
	max-height: 3rem;
}

.btn {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;
	padding: 0.75em;

	&.rounded {
		border-radius: 50px;
	}

	&.rounded-right {
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
	}

	&.rounded-left {
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
	}

	// Boton - Variantes dimensiones

		&.xxxs {
			width: 1rem;
		}

		&.xxs {
		
			width: 1.5rem;
		}

		&.xs {
		
			width: 2.5rem;
		}

		&.md {
			width: 5rem;
		}

		&.lg {
		
			width: 7.5rem;
		}

		&.xl {
			width: 10rem;
		}

		&.xxl {
			width: 15rem;
		}

		&.xxxl {
			width: 25rem;
		}


	// Boton - Variantes cromaticas
	&.magenta {
		background-color: $hpn-magenta;
	}

	&.azul {
		background-color: $hpn-azul;
	}

	&.azul-oscuro {
		background-color: $hpn-azul-oscuro;
	}

	&.violeta {
		background-color: $hpn-violeta;
	}

	&.cyan {
		background-color: $hpn-cyan;
	}

	&.verde {
		background-color: $hpn-verde;
	}
}

hr {
	border: solid 1px;

	&.blanco {
		border-color: white;
	}

	// Variantes de tamaño
	&.xxs {
		width: 10%;
	}
	
	&.xs {
		width: 20%;
	}
	
	&.sm {
		width: 35%;
	}
	
	&.md {
		width: 50%;
	}
	
	&.lg {
		width: 75%;
	}
	
	&.xl {
		width: 100%;
		
	}

}

/* HPN Card */
.hpn-card-bloque-texto {
	display: inline-block;
	width: 75%;
	align-self: center;
}

.margin-left {
	margin-left: 1rem;
}

// Card - imagenes
.hpn-card-img {
	align-self: center;
	border: solid 3px;
	border-radius: 50%;
	object-fit: cover;
	height: 5rem;
	width: 5rem;
	position: relative;
	display: flex;

	&.magenta {
		border-color: $hpn-magenta;
	}

	&.cyan {
		border-color: $hpn-cyan;
	}

	&.celeste {
		border-color: $hpn-celeste;
	}
}

// Card - Tipografía
.hpn-card-prefix {
	font-size: 2rem;
	font-weight: 700;
}

.hpn-card-titulo {
	font-size: 3.5rem;
	
}

.hpn-card-subtitulo {
	font-size: 2.5rem;
	font-weight: 900;
}

.hpn-card-texto {
	font-size: 1rem;
}

.hpn-card-numero {
	font-size: 7rem; 
	font-weight: 700;
}


// HPN Listados


// HPN - Imagenes
	.hpn-img {
		object-fit: cover;
		background-color: $hpn-azul;

// Img - Variantes dimensiones
		&.xxxs {
			height: 1rem;
			width: 1rem;
		}

		&.xxs {
			height: 1.5rem;
			width: 1.5rem;
		}

		&.xs {
			height: 2.5rem;
			width: 2.5rem;
		}

		&.md {
			height: 5rem;
			width: 5rem;
		}

		&.lg {
			height: 7.5rem;
			width: 7.5rem;
		}

		&.xl {
			height: 10rem;
			width: 10rem;
		}

		&.xxl {
			height: 15rem;
			width: 15rem;
		}

		&.xxxl {
			height: 25rem;
			width: 25rem;
		}

// Img - Variantes formales
		&.rounded {
			border-radius: 15%;
		}

		&.circular {
			border-radius: 50%;
		}
	}

	.hpn-card-volanta {
		text-transform: uppercase;
	}

	.hpn-card-titulo {
		font-size: 1.5rem;
	}

	.hpn-card-texto {
		font-size: 1rem;
	}

// HPN - Inputs
input {
	align-self: center;
	height: 100%;

	// Variantes posicionamiento
	.margin {
		margin: 2rem 0 2rem 0;
	}

	// Variantes de longitud
	&.w-xxs {
		width: 10%;
	}
	
	&.w-xs {
		width: 20%;
	}
	
	&.w-sm {
		width: 35%;
	}
	
	&.w-md {
		width: 50%;
	}
	
	&.w-lg {
		width: 75%;
	}
	
	&.w-xl {
		width: 100%;
		
	}


	// Variantes de altura
	&.h-xxs {
		height: 10px;
	}
	
	&.h-xs {
		height: 20px;
	}
	
	&.h-sm {
		height: 35px;
	}
	
	&.h-md {
		height: 50px;
	}
	
	&.h-lg {
		height: 75px;
	}
	
	&.h-xl {
		height: 100px;
		
	}

	// Variantes cromaticas
		
	
	// Variantes formales

}

/*--------------------------------------------------------------
# VARIANTES
--------------------------------------------------------------*/

.text-gris {
	color: $hpn-gris;
}

.text-blanco {
	color: white;
}

.text-gris {
	color: $hpn-gris;
}


/*--------------------------------------------------------------
# Cromaticidad 
--------------------------------------------------------------*/
	.azul-oscuro {
		.borde {
			border: solid 1px $hpn-azul; 
		}

		&.fondo {
			background: $hpn-azul;
		}

		.titulo {
			color: $hpn-azul;
		}

		.texto {
			color: $hpn-azul;
		}
	}
  
	.azul {

		.borde {
			border: solid 1px $hpn-azul; 
		}

		.fondo {
			background: $hpn-azul;
		}

		.titulo {
			color: $hpn-azul;
		}

		.texto {
			color: $hpn-azul;
		}

	}

/*--------------------------------------------------------------
# Tipografia
--------------------------------------------------------------*/
// Responsive
@media screen and (min-width: 320px) and (max-width: 1024px) {
	.hpn-container-titulo {
		.hpn-titulo {
			font-size: 2rem;
		}
	}
}
.uppercase {
	text-transform: uppercase;
}


// Tipografia - Secciones (Servicios, noticias)


.hpn-container-badges {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hpn-badge {
	align-self: center;
	border: solid 2px;
	border-radius: 25px;
	font-size: 0.75rem;
	text-transform: uppercase;
	padding: 0.25rem;
	margin-right: 0.5rem;

	&.verde {
		border-color: $hpn-verde;
		color: $hpn-verde;
	}
}

.hpn-titulo {
	align-self: center;
	font-size: 3rem;
	font-weight: 100;
	text-shadow: #111 5px;

}

.hpn-subtitulo {
	font-size: 1.5rem;
	font-weight: 500;
}

.hpn-bajada {
	font-size: 1.25rem;
	font-weight: lighter;
	color: white;
	text-shadow: #111 5px;
}

.hpn-text {
	font-size: 1.25rem;
	line-height: 2rem;
}


// Variantes cromaticas
div[class*="titulo"] {

	font-family: 'Source Sans Pro';

	&.azul {
		color: $hpn-azul;
	}

	&.azul-oscuro {
		color: $hpn-azul-oscuro;
	}
	
	&.magenta {
		color: $hpn-magenta;
	}

	&.celeste {
		color: $hpn-celeste;
	}
}


.hpn-listado-titulo {
	align-self: center;
	font-size: 2.5rem;
	font-weight: lighter;
}

// Iconos
.hpn-icon {
	align-self: center;
	font-size: 4rem;
	
	&.magenta {
		-webkit-text-fill-color: $hpn-magenta;
	}

	&.cyan {
		-webkit-text-fill-color: $hpn-cyan;
	}

	&.celeste {
		-webkit-text-fill-color: $hpn-celeste;
	}

	&.baseline {
		padding: 25% 0 0 7%;
	}

}

.margin-left {
	margin-right: 0.5rem;
}

