/*--------------------------------------------------------------
>>> INDICE:
// 1. Tipografía
	a. Titulos, subtitulos...
	b. Badges
// 2. Elementos formales
----------------------------------------------------------------*/

// 1. Tipografia
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: lighter;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.75em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 0.75em;
}

small {
	font-size: 0.5em;
}

// Variantes de tamaño
.txt-xxxs {
	font-size: 0.75rem;
}

.txt-xxs {

	font-size: 1rem;
}

.txt-xs {

	font-size: 1.5rem;
}

.txt-sm {

	font-size: 1.75rem;
}

.txt-md {
	font-size: 2.5rem;
}

.txt-lg {
	font-size: 5rem;
}

.txt-xl {
	font-size: 7.5rem;
}

.txt-xxl {
	font-size: 10rem;
}

.txt-xxxl {
	font-size: 12.5rem;
}

// Variantes formales
.bolder {
	font-weight: bolder;
}

.lighter {
	font-weight: 200;
}

.uppercase {
	text-transform: uppercase;
}

.shadow {
	text-shadow: 1px 1px 1px #000;
}

.border {
	border-bottom: 2px solid;

	&.blanco {
		border-color: white;
	}

	&.magenta {
		border-color: $hpn-magenta;
	}

	&.cyan {
		border-color: $hpn-cyan;
	}

	&.celeste {
		border-color: $hpn-celeste;
	}

	// Variantes de longitud
	&.xxs {
		width: 10%;
	}
	
	&.xs {
		width: 20%;
	}
	
	&.sm {
		width: 35%;
	}
	
	&.md {
		width: 50%;
	}
	
	&.lg {
		width: 75%;
	}
	
	&.xl {
		width: 100%;
	}
}

// Variantes cromáticas
.txt-blanco {
	color: white;
}
	
.txt-negro {
	color: black;
}

.txt-gris {
	color: $hpn-gris;
}

.txt-cyan {
	color: $hpn-cyan;
}

.txt-magenta {
	color: $hpn-magenta;
}

.txt-rojo {
	color: $hpn-rojo;
}

.txt-azul {
	color: $hpn-azul;
}

.txt-azul-oscuro {
	color: $hpn-azul-oscuro;
}

.txt-celeste {
	color: $hpn-celeste;
}

.txt-violeta {
	color: $hpn-violeta;
}

.txt-violeta-claro {
	color: $hpn-violeta-claro;
}

.txt-verde {
	color: $hpn-verde;
}

.txt-verde-claro {
	color: $hpn-verde-claro;
}

// Variantes de posicionamiento
.right {
	float: right;
}

.left {
	float: left;
	text-align: left;
}


// Jerarquias
.titulo,.subtitulo,.prefix,.subfix,.texto,.numero {
	// Variantes cromáticas
	&.blanco {
		color: white;
	}
		
	&.negro {
		color: black;
	}
	
	&.gris {
		color: $hpn-gris;
	}

	&.cyan {
		color: $hpn-cyan;
	}

	&.magenta {
		color: $hpn-magenta;
	}

	&.rojo {
		color: $hpn-rojo;
	}

	&.azul {
		color: $hpn-azul;
	}

	&.azul-oscuro {
		color: $hpn-azul-oscuro;
	}

	&.celeste {
		color: $hpn-celeste;
	}

	&.violeta {
		color: $hpn-violeta;
	}

	&.violeta-claro {
		color: $hpn-violeta-claro;
	}

	&.verde {
		color: $hpn-verde;
	}

	&.verde-claro {
		color: $hpn-verde-claro;
	}
}

.prefix {
	font-size: 0.75rem;
	font-weight: 700;
	text-transform: uppercase;
}

.titulo {
	font-size: 3.5rem;
}

.subfix {

}

.subtitulo {
	font-size: 2.5rem;
	font-weight: 900;
}

.texto {
	font-size: 1rem;
}

.numero {
	font-size: 7rem; 
	font-weight: 700;
}

/* -------------------------------------
# Elementos
-------------------------------------*/

// Botones
.container-input-btn {
	display: flex;
	flex-direction: row;
	max-height: 2rem;
}

button {

	&.rounded {
		border-radius: 50px;
	}

	&.rounded-right {
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
	}

	&.rounded-left {
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
	}

	// Boton - Variantes cromaticas
	&.magenta {
		background-color: $hpn-magenta;
	}

	&.azul {
		background-color: $hpn-azul;
	}

	&.azul-oscuro {
		background-color: $hpn-azul-oscuro;
	}

	&.violeta {
		background-color: $hpn-violeta;
	}

	&.cyan {
		background-color: $hpn-cyan;
	}

	&.verde {
		background-color: $hpn-verde;
	}
}

hr {
	border: solid 1px;

	&.blanco {
		border-color: white;
	}

	&.magenta {
		border-color: $hpn-magenta;
	}

	&.cyan {
		border-color: $hpn-cyan;
	}

	&.celeste {
		border-color: $hpn-celeste;
	}

	// Variantes de tamaño
	&.xxs {
		width: 10%;
	}
	
	&.xs {
		width: 15px;
	}
	
	&.sm {
		width: 35%;
	}
	
	&.md {
		width: 50%;
	}
	
	&.lg {
		width: 75%;
	}
	
	&.xl {
		width: 100%;
		
	}
}

// HPN Banner
.hpn-banner {
	[class^="hpn-banner-0"]	{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		z-index: 3;
		// Degrade
		background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

	[class^="hpn-banner-bloque-texto"] {
		color: white;
		text-align: left;
		position: absolute;
		width: 85%;
		left: 5%;
		top: 35%;
		z-index: 4;
		}
	}



/* HPN Card */
.hpn-card-bloque-texto {
	display: inline-block;
	align-self: center;
}

// Card - imagenes
.hpn-card-img {
	align-self: center;
	object-fit: cover;
	position: relative;
	display: flex;

	&.outline {
		border: solid 3px;
		border-radius: 50%;

		&.magenta {
			border-color: $hpn-magenta;
		}
	
		&.cyan {
			border-color: $hpn-cyan;
		}
	
		&.celeste {
			border-color: $hpn-celeste;
		}
	}
}

// Card - Tipografía
.hpn-card-prefix {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.hpn-card-titulo {
	font-size: 1.5rem;
}

.hpn
-card-subtitulo {
	font-size: 1.25rem;
	font-weight: 900;
}

.hpn-card-texto {
	font-size: 1rem;
}

.hpn-card-numero {
	font-size: 7rem; 
	font-weight: 700;
}

// HPN Listados

// HPN - Imagenes
.hpn-banner-img-secundaria {
	height: 100%;
	object-fit: cover;
	z-index: 2;
}

.hpn-banner-img-principal {
	height: 100%;
	object-fit: cover;
	z-index: 2;
	mix-blend-mode: multiply;
	}

img {
// Img - Variantes dimensiones
	&.xxxs {
		width: 20px;
	}

	&.xxs {
		width: 40px;
	}

	&.xs {
		width: 60px;
	}

	&.md {
		width: 75px;
	}


	&.lg {
		width: 80px;
	}

	&.xl {
		width: 250px;
	}

	&.xxl {
		width: 300px;
	}

	&.xxxl {
		width: 80px;
		}

	// Altura
	&.h-xxxs {
		height: 50%;
	}

	&.h-xxs {
		height: 100%;
	}

	&.h-xs {
		height: 150%;
	}

	&.h-md {
		height: 1200%;
	}

	&.h-lg {
		height: 1250px;
	}

	&.h-xl {
		height: 1300px;
	}

	&.h-xxl {
		height: 1350px;
	}

	&.h-xxxl {
		height: 1500px;
	}
	

// Img - Variantes formales
	&.rounded {
		border-radius: 25px;
	}

	&.circular {
		border-radius: 50%;
	}
}

// HPN - Accordion
[hpn-accordion] {
	.tab {
		position: relative;
		margin-bottom: 1px;
		width: 100%;
		color: $hpn-azul;
		overflow: hidden;
	  }

	  input {
		// position: absolute;
		opacity: 0;
		z-index: -1;
	  }

	  label {
		position: relative;
		display: block;
		// padding: 0 0 0 1em;
		font-weight: bold;
		line-height: 3;
		cursor: pointer;
	  }

	  .tab-content {
		max-height: 0;
		overflow: hidden;
		color: $hpn-gris;
		-webkit-transition: max-height .35s;
		-o-transition: max-height .35s;
		transition: max-height .35s;
	  }
	
	  .tab-content p {
		// margin: 1em;
	  }
	  /* :checked */
	  input:checked ~ .tab-content {
		max-height: 10em;
	  }
	  /* Icon */
	  label::after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 3em;
		height: 3em;
		line-height: 3;
		text-align: center;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
	  }
	  input[type=checkbox] + label::after {
		content: "+";
	  }
	  input[type=radio] + label::after {
		content: "\25BC";
	  }
	  input[type=checkbox]:checked + label::after {
		transform: rotate(315deg);
	  }
	  input[type=radio]:checked + label::after {
		transform: rotateX(180deg);
	  }	
}
  

// HPN - Inputs/Buttons
.container-inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

%base {
	align-self: center;
	height: 100%;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	}

	input {
		@extend %base;
		background-color: $hpn-celeste-claro;
		color: $hpn-azul;
		font-style: italic;
		font-weight: 500;
	}

	button {
		@extend %base;
		color: white;
		:active {
			border: solid 2px $hpn-magenta;
		}
	}

input,button,.container-input-btn {
	// Variantes posicionamiento


	// Variantes de tamanio
	&.xs {
		height: 25px;
	}

	&.sm {
		height: 25px;
	}

	&.md {
		height: 50px;
	}

	&.lg {
		height: 75px;
	}

	&.xl {
		height: 100px;
	}


	// Variantes de longitud
	&.w-xxs {
		width: 10%;
	}
	
	&.w-xs {
		width: 20%;
	}
	
	&.w-sm {
		width: 35%;
	}
	
	&.w-md {
		width: 50%;
	}
	
	&.w-lg {
		width: 75%;
	}
	
	&.w-xl {
		width: 100%;
		
	}


	// Variantes de altura
	&.h-xxs {
		height: 10px;
	}
	
	&.h-xs {
		height: 20px;
	}
	
	&.h-sm {
		height: 35px;
	}
	
	&.h-md {
		height: 50px;
	}
	
	&.h-lg {
		height: 75px;
	}
	
	&.h-xl {
		height: 200px;
		
	}

	// Variantes cromaticas
		
	
	// Variantes formales

}

/*--------------------------------------------------------------
# VARIANTES GLOBALES
--------------------------------------------------------------*/
// Margenes
.margin {
	margin: 15px;
}

.margin-top {
	margin-top: 25px; 
}

.margin-right {
	margin-right: 25px; 
}

.margin-bottom {
	margin-bottom: 25px; 
}

.margin-left {
	margin-left: 25px; 
}

.separate {
	margin: 10px 0 10px 0;
}

// Formales
.rounded {
	border-radius: 50px;
}

.rounded-25 {
	border-radius: 25px;
}

.rounded-right {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.rounded-left {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

// Tipograficas
.txt-bold {
	font-weight: bolder;
}

.text-gris {
	color: $hpn-gris;
}

.text-blanco {
	color: white;
}

.text-gris {
	color: $hpn-gris;
}


/*--------------------------------------------------------------
# Cromaticidad 
--------------------------------------------------------------*/
	.azul-oscuro {
		.borde {
			border: solid 1px $hpn-azul-oscuro; 
		}

		&.fondo {
			background: $hpn-azul-oscuro;
		}

		.titulo {
			color: $hpn-azul-oscuro;
		}

		.texto {
			color: $hpn-azul-oscuro;
		}
	}
  
	.azul {

		.borde {
			border: solid 1px $hpn-azul; 
		}

		&.fondo {
			background: $hpn-azul;
		}

		.titulo {
			color: $hpn-azul;
		}

		.texto {
			color: $hpn-azul;
		}

	}


	.celeste {
		.borde {
			border: solid 1px $hpn-celeste; 
		}

		&.fondo {
			background: $hpn-celeste;
		}

		.titulo {
			color: $hpn-celeste;
		}

		.texto {
			color: $hpn-celeste;
		}
	}
  
	.celeste-claro {
		.borde {
			border: solid 1px $hpn-celeste-claro; 
		}

		&.fondo {
			background: $hpn-celeste-claro;
		}

		.titulo {
			color: $hpn-celeste-claro;
		}

		.texto {
			color: $hpn-celeste-claro;
		}
	}

	.cyan {
		.borde {
			border: solid 1px $hpn-cyan; 
		}

		&.fondo {
			background: $hpn-cyan;
		}

		.titulo {
			color: $hpn-cyan;
		}

		.texto {
			color: $hpn-cyan;
		}
	}
  
	.magenta {

		.borde {
			border: solid 1px $hpn-magenta; 
		}

		&.fondo {
			background: $hpn-magenta;
		}

		.titulo {
			color: $hpn-magenta;
		}

		.texto {
			color: $hpn-magenta;
		}

	}

/*--------------------------------------------------------------
# Tipografia
--------------------------------------------------------------*/
// Headings
@media screen and (min-width: 320px) and (max-width: 1024px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.25em;
	}
	h4 {
		font-size: 1em;
		margin: 1rem 0 1rem 0;
	}
	h5 {
		font-size: 0.75em;
	}
	h6 {
		font-size: 0.5em;
	}
}

.uppercase {
	text-transform: uppercase;
}


// Tipografia - Secciones (Servicios, noticias)


.hpn-container-badges {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hpn-badge {
	align-self: center;
	border-radius: 25px;
	color: white;
	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
	width: fit-content;

	&.outline {
		border: solid 2px;
	}

	// Variantes cromaticas
	&.verde {
		border-color: $hpn-verde;
		color: $hpn-verde;
	}
	&.magenta {
		background-color: $hpn-magenta;
	}

	&.bg-azul {
		background-color: $hpn-azul;
	}
	
	&.bg-azul-oscuro {
		background-color: $hpn-azul-oscuro;
	}
	
	&.bg-celeste {
		background-color: $hpn-celeste;
	}
	
	&.bg-magenta {
		background-color: $hpn-magenta;
	}
	
	&.bg-rojo {
		background-color: $hpn-rojo;
	}
	
	&.bg-verde {
		background-color: $hpn-verde;
	}
}

.hpn-container-titulo {
	.hpn-titulo {
		font-size: 3.5rem;
	}
}

.hpn-subtitulo {
	// font-size: 1.5rem;
	// font-weight: 500;
}

.hpn-bajada {
	font-size: 1.25rem;
	font-weight: lighter;
	color: white;
	text-shadow: #111 5px;
}

.hpn-text {
	font-size: 1.25rem;
	line-height: 2rem;
}


// Variantes cromaticas
div[class*="titulo"] {

	font-family: 'Source Sans Pro';

	&.azul {
		color: $hpn-azul;
	}

	&.azul-oscuro {
		color: $hpn-azul-oscuro;
	}
	
	&.magenta {
		color: $hpn-magenta;
	}

	&.celeste {
		color: $hpn-celeste;
	}
}


.hpn-listado-titulo {
	align-self: center;
	font-size: 2.5rem;
	font-weight: lighter;
}

// Iconos
.hpn-icon-container {
	display: flex;

	&.horizontal {
		flex-direction: column;
	}

	&.vertical {
		flex-direction: row;
	}
}

.hpn-icon {
	align-self: center;

	&.lg {
		font-size: 4rem;
	}
	
	
	&.magenta {
		-webkit-text-fill-color: $hpn-magenta;
	}

	&.cyan {
		-webkit-text-fill-color: $hpn-cyan;
	}

	&.celeste {
		-webkit-text-fill-color: $hpn-celeste;
	}

	&.baseline {
		padding-top: 25%;
	}

}

/* ------------------------------------------------------------
#RESPONSIVENESS
------------------------------------------------------------ */

@media screen and (min-width: 320px) and (max-width: 1024px) {
	// Banner
	.hpn-container-titulo {
		.hpn-titulo {
			font-size: 1.35rem;
		}
	}

	[class^="hpn-banner-img-"] {
		
		>[class^="hpn-banner-bloque-texto"] {
			color: rgb(17, 14, 14);
			text-align: center;
			position: absolute;
			width: 75%;
			// left: 5%;
			top: 50%;
			z-index: 4;
			}
	}

	.hpn-subtitulo {
		display: none;
	}

	// Cards
	[class^="card-"] {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		.hpn-card-bloque-texto {
			align-self: center;
			
			.hpn-card-titulo {
				font-size: 1rem;
				text-align: center;
			}

			.hpn-card-texto {
				display: none;				
			}	
		}

		.hpn-icon {
			align-self: center;
		}
	}

	}
