<!-- Bottombar -->
    <div class="hpn-card-container azul-oscuro fondo">
        <div class="hpn-card-img"></div>
        <div class="hpn-card-bloque-texto">
            <div class="hpn-card-titulo">HPN Card Titulo</div>
            <div class="hpn-card-texto">Este es un texto con la clase hpn-card-texto</div>
        </div>
    </div>
    <div class="hpn-card-container azul">
        <div class="hpn-card-img"></div>
        <div class="hpn-card-bloque-texto">
            <div class="hpn-card-titulo">HPN Card Titulo</div>
            <div class="hpn-card-texto">Este es un texto con la clase hpn-card-texto</div>
        </div>
    </div>
    <div class="hpn-card-container verde">
        <div class="hpn-card-img"></div>
        <div class="hpn-card-bloque-texto">
            <div class="hpn-card-titulo">HPN Card Titulo</div>
            <div class="hpn-card-texto">Este es un texto con la clase hpn-card-texto</div>
        </div>
    </div>
    <div class="hpn-card-container rojo">
        <div class="hpn-card-img"></div>
        <div class="hpn-card-bloque-texto">
            <div class="hpn-card-titulo">HPN Card Titulo</div>
            <div class="hpn-card-texto">Este es un texto con la clase hpn-card-texto</div>
        </div>
    </div>