<!-- Bottombar -->
    <div class="hpn-card-container card-01 azul-oscuro">
        <!-- <div class="hpn-card-img"></div>
        <div class="hpn-card-bloque-texto">
            <div class="hpn-card-titulo">HPN Card Titulo</div>
            <div class="hpn-card-texto">Este es un texto con la clase hpn-card-texto</div>
        </div> -->
    </div>
    <div class="hpn-card-container card-02 azul">
        
    </div>
    <div class="hpn-card-container card-03 verde">

    </div>
    <div class="hpn-card-container card-04 rojo">

    </div>