<div class="hpn-subheader-container">
    <div class="hpn-titulo"></div>
    <div class="hpn-breadcrumps"></div>
</div>
<div class="hpn-listado-container-subtitulo">
    <div class="hpn-listado-titulo"></div>
    <div class="hpn-listado-input"></div>
</div>
<div class="hpn-listado-container">
    <!-- card -->
 <div class="hpn-card-container">
     <div class="hpn-img-card"></div>
     <div class="hpn-container-badges">
         <div class="hpn-badge"></div>
         <div class="hpn-badge"></div>
         <div class="hpn-badge"></div>
     </div>
    <div class="hpn-titulo"></div>
    <div class="hpn-btn cyan"></div>
    <!-- /card -->
 </div>
</div>

