<div class="hpn-subheader-container">
    <div class="hpn-titulo magenta">Concursos</div>
    <div class="hpn-breadcrumps"></div>
</div>
<div class="hpn-container-subtitulo principal">
    <div class="hpn-listado-titulo">Algo</div>
    <div class="container-input-btn">    
        <input class="hpn-listado-input"></input>
        <button class="btn rounded-right magenta xs">Z</button>
    </div>
</div>
<!-- card -->
<ul class="hpn-container-listado horizontal">
 <li class="hpn-list-item">
    <!-- <div class="hpn-container-badges">
        <div class="hpn-badge">fdsdasdff</div>
        <div class="hpn-badge">dadasdsad</div>
        <div class="hpn-badge">dasdasd</div>
    </div>
     <img scr="" class="hpn-img rounded"></img>

    <div class="hpn-titulo azul-oscuro"></div>
    <div class="hpn-btn cyan"></div> -->
 </li>
 <!-- /card -->
    <li class="hpn-list-item">
    </li>
    <li class="hpn-list-item">
    </li>
</ul>

<!-- Sidebar -->
    <div class="hpn-container-subtitulo sidebar">
        <div class="hpn-listado-titulo">Titulo Sidebar</div>
    </div>
    <ul class="hpn-container-listado vertical">
        <li class="hpn-list-item">
            <div class="hpn-list-img"></div>
            <div class="hpn-list-titulo"></div>
            <div class="hpn-list-subtitulo"></div>
        </li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    <li class="hpn-list-item"></li>
    </ul>
</div>


