<div class="hpn-container-titulo">
    <div class="hpn-badge sm">Volanta nota</div>
    <hr class="blanco xxs"></hr>
    <div class="hpn-titulo">Titulo principal de nota a tres lineas</div>
    <hr class="blanco xxs"></hr>
    <div class="hpn-bajada">Bajda de nota principal a varias lineas. Lorem ipsum sonnet, sigerlet.</div>
    <button class="btn rounded md cyan">Opcion 1</button>
    <button class="btn rounded md magenta">Opcion 2</button>
    <button class="btn rounded md azul">Opcion 3</button>
</div>
    <div class="hpn-container-nota"></div>