<!-- Barra de navegación -->
<nav class="friso">
    <div class="row no-gutters">
        <!-- Logo-->
        <div class="col-md-1">
          <div class="logo"><img src="">
          </div>
        </div>
          <!-- /.Logo -->
            <!-- Datos pacientes-->
            <div class="col-md-8">
              <div class="data-paciente">
                <div class="row">
                  <div class="col-md-6">
                    <h5><strong>Apellido</strong> Nombre completo</h5>
                    <h6 class="subtitulo-paciente">D.N.I: 31.359.294</h6>
                  </div>
                    <ul class="list-inline pull-right">
                      <div class="list-inline-item contenedor-subdata">
                        <h6 class="subdata-paciente">Estado</h6>
                        <h6 class="subdata-descripcion">Validado</h6>
                      </div>
                      <div class="list-inline-item contenedor-subdata">
                        <h6 class="subdata-paciente">Obra social</h6>
                        <h6 class="subdata-descripcion">O.S.D.E 456-7652892176N</h6>
                      </div>                   
                      <div class="list-inline-item contenedor-subdata">
                        <h6 class="subdata-paciente">Otro dato</h6>
                        <h6 class="subdata-descripcion">Descripción del otro dato</h6>
                      </div>
                    </ul>
                </div> 
                </div>
          <!-- Subfriso -->
         <div class="sub-friso">
            <div class="row">
              <div class="col-md-6">
                  <h6 class="invert"><strong>Tipo de consulta:</strong> Consulta de medicina general</h6>
                </div>
                    <div class="col-md-6">
                      <ol class="list-inline pull-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Library</li>
                        <li class="breadcrumb-item active">Data</li>
                      </ol>
                    </div>
                </div>
            </div>
          <!-- /.Subfriso -->
          </div>
          <!-- /.Datos pacientes-->
          <!-- Datos usuario-->
            <div class="col-md-3">
              <div class="data-usuario">
                <div class="d-inline-block">
                <img src="" class="rounded-circle img-thumbnail">
                </div>
                <div class="list-inline-item">
                  <h6><strong>Apellido</strong>, Nombre</h6>
                  <h6 class="subdata-descripcion">Descripción del otro dato</h6>
                </div>
             </div>
                <div class="burger-container pull-right">
                  <i class="material-icons burger-menu">menu</i>
                </div>
         <!-- Subfriso -->
         <div class="sub-friso-usuario">
            <div class="row">
              <div class="col-md-12">
                    <ul class="list-inline pull-left">
                      <div class="list-inline-item">
                        <i class=""></i>
                      </div>
                      <div class="list-inline-item">
                        <i class="fa alert-circle"></i>
                      </div>                   
                      <div class="list-inline-item">
                        <i class=""></i>
                      </div>
                    </ul>
              </div>
            </div>
         </div>
          <!-- /.Subfriso -->
            </div>
          <!-- /.Datos usuario-->
    </div>
  </nav>
  <!-- /.Barra de navegación -->