.hpn-container-default {
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: 200px auto;

    .hpn-container-titulo-img {
        grid-column: 1 / -1;
        grid-row: 1;
        background-color: $hpn-cyan;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 3;
        // Gradient
        background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        .hpn-banner-img-principal {
            height: 100%;	
            width: 100%;
            mix-blend-mode: multiply;
            }

        .hpn-container-titulo {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-self: center;
            padding: 1rem;
            text-align: center;
            position: absolute;
            top: 20%;
            z-index: 2;
        }
        
    }

    .hpn-container-nota {
        grid-row: 2;
        padding: 0 20vw;
        text-align: left;
        overflow-y: scroll;
        height: auto;
    }


     .mask {
        height: 200px;
        width: 100%;
        position: absolute;
        top: 0px;
        mix-blend-mode: multiply;
    
        &.cyan {
            background-color: $hpn-cyan;
        }
    
        &.magenta {
            background-color: $hpn-magenta;
        }
    
        &.azul-oscuro {
            background-color: $hpn-azul-oscuro;
        }
    
    }
    
    .hpn-container-data {
        grid-column: 3 / 3;
        grid-row: 1;
        background-color: $hpn-celeste;
    }
}


/* ------------------------------------------------------------
#RESPONSIVENESS
------------------------------------------------------------ */

@media screen and (max-width: 1024px) {

    .hpn-container-default {
        display: grid;
        grid-template-columns: initial;
        grid-template-rows: 100px 1fr;
    
        .hpn-container-titulo-img {
            grid-column: 1 / -1;
            grid-row: 1;
            background-color: $hpn-cyan;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            z-index: 3;
            // Gradient
            background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
            .hpn-banner-img-principal {
                height: 100%;	
                width: 100%;
                mix-blend-mode: multiply;
                }
    
            .hpn-container-titulo {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-self: center;
                z-index: 2;
            }
            
        }

        
        .hpn-container-nota {
            grid-row: 2;
            padding: 0 8vw;
            text-align: center;
        }
    
         .mask {
            height: 100px;
            width: 100%;
            position: absolute;
            top: 0px;
            mix-blend-mode: multiply;
        
            &.cyan {
                background-color: $hpn-cyan;
            }
        
            &.magenta {
                background-color: $hpn-magenta;
            }
        
            &.azul-oscuro {
                background-color: $hpn-azul-oscuro;
            }
        
        }
        
        .hpn-container-data {
            grid-column: 3 / 3;
            grid-row: 1;
            background-color: $hpn-celeste;
        }
    }
        
}